{{outlet}}

<h1>Ember polymer test</h1>
<ul>
    <li>{{#link-to 'paper-toolbar'}}paper-toolbar (not working){{/link-to}}</li>
    <li>{{#link-to 'poly-toolbar'}}poly-toolbar (working){{/link-to}}</li>
</ul>